.gif-tv-component {
  display: flex;
  flex-direction: column;
  margin: auto;

  max-width: 1200px;

  .shared-gif {
    margin: 40px auto;

    img {
      max-height: 400px;
    }
  }

  .suggestions {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .thumbnail {
    height: 150px;
    width:  150px;
  }
}
